<tr><td class="rate-1">2 double</td><td class="rate-2">$110</td></tr>
<tr><td class="rate-1">1 queen</td><td class="rate-2">$110</td></tr>
<tr><td class="rate-1">2 queen</td><td class="rate-2">$125</td></tr>
<tr><td class="rate-1">2 double, 1 pull out</td><td class="rate-2">$125</td></tr>
<tr><td class="rate-1">2 queen, 1 double, 1 pull out</td><td class="rate-2">$160</td></tr>
<tr><td class="rate-1">1 queen, 3 double</td><td class="rate-2">$160</td></tr>
<tr><td class="rate-1">4 double, 1 pull out</td><td class="rate-2">$160</td></tr>
<tr><td class="rate-1">4 double, 1 pull out</td><td class="rate-2">$160</td></tr>
<tr><td class="rate-1">1 king, 1 queen, 1 double</td><td class="rate-2">$165</td></tr>
<tr><td class="rate-1">1 king, 1 queen, 2 double</td><td class="rate-2">$195</td></tr>
<tr><td class="rate-1">1 king, 2 queen, 1 double</td><td class="rate-2">$195</td></tr>
<tr><td class="rate-1">4-5 beds</td><td class="rate-2">$225</td></tr>
