* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	min-width: 50em;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
main {
	flex: 1;
}
footer.body {
	display: flex;
	flex: 0;
	justify-content: space-around;
	padding: 1em 0;
	background-color: gray;
	color: white;
}

img.hero {
	width: 100%;
	object-fit: cover;
	height: 100vh;
}

menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;

	height: 100px;
	background-color: rgb(27,26,28);

	display: flex;
	align-items: center;
}
menu nav, menu ul, menu li {
	background-color: inherit;
}

menu li {
	pointer-events: none;
}

menu li:hover, menu li.active {
	background-color: white;
}

menu a {
	pointer-events: auto;
	text-decoration: none;
	color: white;
}

menu li.active a {
	color: black;
}

menu a:hover {
	color: blue;
}

menu h1, menu ul, menu header, menu nav {
	height: inherit;
}

menu header, menu ul {
	display: table;
}


menu h1, menu li {
	display: table-cell;
	vertical-align: middle;
	padding: 0 1em;
}

menu h1, menu li {
	margin: 0 auto;
}


nav > ul {
	list-style-type: none;
}

main {
	margin-top: 6rem;
}

menu.hidden {
	margin-top: -6rem;
}

main article {
	max-width: 50rem;
	margin: 0 auto;
	padding: 4em 0;
}

article p {
	padding: 1em 0;
}

article h1 {
	padding: 2em 0 0 0;
}

img.hero {
	margin-top: -6rem;
}

footer {
}

article img {
	width: 100%;
}
td {
	padding: 0 1em;
}

td.rate-1 {
	padding-right: 1em;
}
td.rate-2 {
	text-align: center;
}

div.order {
	position: absolute;
	right: 20px;

	margin-top: -15rem;

	padding: 2em;
	background-color: black;
}

.order a {
	padding: 1em;
	background-color: yellow;
	color: black;
	border: 0;
	display: block;
	width: 8em;
	height: 3em;

	font-weight: bold;
	font-size: 15pt;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
}

.order a:focus {
	border: 5px solid black;
	background-color: orange;
}

@media screen and (max-device-width: 800px) {
	menu {
		position: inherit;
		height: inherit;
	}
	menu, nav ul, footer.body {
		display: flex;
		flex-direction: column;
	}
	nav, nav ul, menu li {
		width: 100%;
	}
	menu li {
		text-align: center;
		padding: 0.5em;
	}
	body {
		min-width: inherit;
	}
	main article, footer.body {
		padding: 0 0.25em;
	}
	td {
		padding: 0 0.25em;
	}
	main {
		margin-top: inherit;
	}
	menu.hidden {
		margin-top: inherit;
	}
	img.hero {
		margin-top: inherit;
	}
}
